nav {
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    border-radius: 25px;
    background: rgba(115, 173, 33, 0.36);
    padding: 20px;
    height: 25px;
}

#login {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#login-form {
    display: flex;
    flex-direction: column;
    text-align: center;

}


.head{
    color: #177199;
    text-align: center;
}

.chess-board{
    margin: auto auto;
    display: flex;
    flex-direction: column;

}

.row {
    height: 64px;
    display: flex;
    justify-content: center;
}

.col {
    height: 64px;
    width: 64px;
    background: blue;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.black-field {
    background: #444444;
}

.white-field {
    background: whitesmoke;
}


.valid-step {
    background-color: aqua;
    transition: 0.2s;
    transition-property: background-color;
}

.valid-step:hover {
        color: rgb(128, 0, 0);
    transition: 0.2s;
    transition-property: color;
}

div[data-name*='black-pawn']{
    height: 64px;
    width: 64px;
    content: url("../images/black_figures/black_pawn.png");
}

div[data-name*='black-left-rook']{
    height: 64px;
    width: 64px;
    content: url("../images/black_figures/black_rook.png");
}

div[data-name*='black-right-rook']{
    height: 64px;
    width: 64px;
    content: url("../images/black_figures/black_rook.png");
}

div[data-name*='black-left-knight']{
    height: 64px;
    width: 64px;
    content: url("../images/black_figures/black_left_knight.png");
}

div[data-name*='black-right-knight']{
    height: 64px;
    width: 64px;
    content: url("../images/black_figures/black_right_knight.png");
}

div[data-name*='black-right-bishop']{
    height: 64px;
    width: 64px;
    content: url("../images/black_figures/black_bishop.png");
}

div[data-name*='black-left-bishop']{
    height: 64px;
    width: 64px;
    content: url("../images/black_figures/black_bishop.png");
}

div[data-name*='black-queen']{
    height: 64px;
    width: 64px;
    content: url("../images/black_figures/black_queen.png");
}

div[data-name*='black-king']{
    height: 64px;
    width: 64px;
    content: url("../images/black_figures/black_king.png");
}

div[data-name*='white-pawn']{
    height: 64px;
    width: 64px;
    content: url("../images/white_figures/white_pawn.png");
}

div[data-name*='white-left-rook']{
    height: 64px;
    width: 64px;
    content: url("../images/white_figures/white_rook.png");
}

div[data-name*='white-right-rook']{
    height: 64px;
    width: 64px;
    content: url("../images/white_figures/white_rook.png");
}

div[data-name*='white-right-knight']{
    height: 64px;
    width: 64px;
    content: url("../images/white_figures/white_right_knight.png");
}

div[data-name*='white-left-knight']{
    height: 64px;
    width: 64px;
    content: url("../images/white_figures/white_left_knight.png");
}

div[data-name*='white-right-bishop']{
    height: 64px;
    width: 64px;
    content: url("../images/white_figures/white_bishop.png");
}

div[data-name*='white-left-bishop']{
    height: 64px;
    width: 64px;
    content: url("../images/white_figures/white_bishop.png");
}

div[data-name*='white-queen']{
    height: 64px;
    width: 64px;
    content: url("../images/white_figures/white_queen.png");
}

div[data-name*='white-king']{
    height: 64px;
    width: 64px;
    content: url("../images/white_figures/white_king.png");
}

.player-name {
    text-align: center;
    padding-bottom: 1em;
    padding-top: 1em;
}

.login{
    text-align: center;
}