.head{
    color: #177199;
}

.chess-board{
    margin: auto auto;
    display: flex;
    flex-direction: column;
}

.row {
    height: 64px;
    display: flex;
    justify-content: center;
}

.col {
    height: 64px;
    width: 64px;
    background: blue;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.black {
    background: #4d4b4b;
}

.white {
    background: whitesmoke;
}

div[data-name*='white-pawn']{
    height: 64px;
    width: 64px;
    content: url("../images/white_figures/white_pawn.png");
    z-index: 1;
    position: absolute;
}

div[data-name*='black-pawn']{
    height: 64px;
    width: 64px;
    content: url("../images/black_figures/black_pawn.png");
}